body {
	background-color:#D2D3D5;
	background-image:url(../images/backi.png);
	background-repeat:repeat-x;
}
#head {
	border:0px solid white;
	background-color:#black;
	height:150px;
	margin-top:-10px;
}
.logo {
	margin-top:0px;
	padding:1px;
}
.menu {
	margin-top:8px;
}
#content {
	border:0px solid white;
	background-image:url(../images/body.png);
	background-repeat:no-repeat;
	background-position:center;
	height:438px;
}
.form {
	font-size:;
	color:white;
}
#foot {
	border:0px solid white;
	margin-top:10px;
	background-color:#D2D3D5;
}
.text-foot {
	font-size:20px;
	color:white;
}
.about {
    float: center;
    height:30px;
    overflow: hidden;
    margin: 0 0px 0 0;
	margin-top:12px;
    -webkit-transition: height 1s ease-in;
    -moz-transition: height 1s ease-in; 
    -o-transition: height 1s ease-in;   
}
 .about:hover {
    height:204px;
}
.abot {
    float: center;
    height:30px;
    overflow: hidden;
    margin: 0 0px 0 0;
	margin-top:12px;
    -webkit-transition: height 1s ease-in;
    -moz-transition: height 1s ease-in; 
    -o-transition: height 1s ease-in;   
}
 .abot:hover {
    height:290px;
}
.text-end {
	font-size:20px;
	color:white;
	margin-top:50px;
}